<div class="profile-wrapper">
  <div class="container">

    <% if current_user.chef? && current_user.buyer? %>
     <div class="profile-choose">
      <p>Switch profiles</p>
     <button class="btn btn-info">As a diner</button>
     <button class="btn btn-info">As a chef</button>
   </div>
   <%  end %>

    <div class="row">

      <% if current_user.chef? && current_user.buyer? %>
        <%= render 'chef_profile', user: @user, bookings: @bookings, meals: @meals %>
      <% elsif %>
        <% current_user.chef? %>
        <%= render 'chef_profile', user: @user, bookings: @bookings, meals: @meals  %>
      <% else %>
        <%= render 'buyer_profile',user: @user, bookings: @bookings, meals: @meals %>
      <% end %>

    </div>
  </div>
</div>


