<div class="container">
  <h1><%= @user.name %> Profile</h1>
  <p> To add....</p>
  <ul>
    <li>View Bookings</li>
    <li>Create a meal aka 'Become a chef'</li>
    <li>View meals have created</li>
    <li>View messages</li>
    <li>Leave a review</li>
  </ul>
</div>
