<h2>Hey there <%= @user.name %>!</h2>

<p>Thanks for signing up for ChefMate! We look forward to helping you explore your slice of the world through flavors!</p>

<p>Check back frequently to see what's cooking in your area.</p>

<p>Cheers!</p>
