
.wrapper {
  margin-top: 30px;
}


.meal-info {
  background-color: white;
  max-width: 700px;
  padding: 50px;
  border-radius: 7px;
  margin-right: 50px;
}

.meal-image-show, .category-show{
  margin-left: 50px;
}

