<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url('http://www.japanesecooking101.com/wp-content/uploads/2014/03/IMG_8065.jpg');">
  <div class="banner-content">
    <h1>Chef Mate</h1>
    <p>Have a Master cook for you</p>
    <%= render 'meals/search' %>
  </div>
</div>


