<div class="tabs">
  <a class="tab active" href="#">
    <p>My bookings</p>
  </a>
  <a class="tab" href="#">
    <p>Become a chef</p>
  </a>
  <a class="tab" href="#">
    <p>My messages</p>
  </a>
</div>
