<br>
<div class="row">
  <form action=<%= root_path(anchor: 'meals_index') %> method='get' class="form-inline" >
     <input name="search" class="form-control search" placeholder="Pick a city">
     <input type="submit" value="Search" class="btn btn-primary">
  </form>
</div>
<br>
<br>
