<br>
<div class="row">
  <form action=<%= root_path %> method='get' class="form-inline" >
     <input name="search" class="form-control" placeholder="Where do you want to dine?">
     <input type="submit" value="Search" class="btn btn-primary">
  </form>
</div>
<br>
<br>
