<br>
<div class="row">
  <form action=<%= root_path %> method='get' >
     <input name="search" class="form-control" placeholder="insert city, category or host name">
     <input type="submit" value="Search">
  </form>
</div>
<br>
<br>
