<%= render 'shared/banner' %>

<div class="container">

<%= render 'search' %>

<div class="row meals">
  <% @meals.each do |meal| %>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <%= render 'card', meal: meal %>
  </div>
  <% end %>
</div>



<div class="fixed-action-btn">
  <%= link_to 'New Meal', new_meal_path, class: "btn btn-danger btn-fixed" %>
</div>
</div>
