.footer{
  a {
  color: white ;
  font-size: 25px;
  }
 p {
  color: white;
  font-weight: lighter;
 }
}

.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 43px;
  padding: 40px;

}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.2;
}

