.tabs {
  display: flex;
}

.tab {
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  color: #B1B1B1;
}

.active {
color: black;
font-weight: bold;
border-bottom: thick solid #00A699;
}


.tab:hover {
color: black;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: none;
}

.nav-tabs {
  border-bottom: none;
}

.no-border {
  border-bottom: none;
}

.nav-tabs a {
  color: #B1B1B1;
}
