.login-wrapper{
  background-size: cover;
  color: white;
}

.login-container{
  width: 800px;
  margin: 0 auto;
  background-color: rgba(90, 90, 90, .7);
  padding: 121px;
}


.login-form{
  width: 400px;
  margin-left: 10px;
}

.help-block{
  color: black;
}
