.login-wrapper{
  background-size: cover;
  color: white;
}

.login-container{
  width: 800px;
  margin: 0 auto;
  padding: 121px;
}


.login-form{
  width: 400px;
  margin-left: 10px;
}

.help-block{
  color: black;
}



.login-header {
  margin-bottom: 50px;
}

.login-form label {
  font-weight: normal;
}


.shared-links {
  margin-top: 50px;

  a {
    color: white;
    font-weight: lighter;
  }
}

