.login-wrapper{
  height: 649px;
  background-size: cover;
  color: white;
}

.login-container{
  width: 800px;
  margin: 0 auto;
  background-color: rgba(90, 90, 90, .7);
  padding: 131px;
}


.login-form{
  width: 400px;
  margin-left: 10px;
  a{
    color: white;
  }
}
