@import "new";

.main-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 1px;
}

.meals {
  flex: 1 0 auto;
}

#map {

  flex: 0 0 40%;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
  margin: 12px 23px;
}
