
.new-meal-container{
  width: 600px;
  margin: 0 auto;
  padding-top: 50px;
  h1, label{
    margin-top: 0px;
    color: white;
    padding-top: 5px;
    text-shadow: 1px 1px 1px #898080;
  }

  h2{
    color: white;
    font-size: 24px;
    margin-top: 10px;
    text-shadow: 1px 1px 1px #898080;
  }

  input{
    font-size: 14px;
  }
  textarea{
    font-size: 14px;
  }
}

#cancel-btn-new{
  color: black;
  margin-left: 224px;
  opacity: 0;

}

#cancel-btn-new:hover{
  text-decoration: underline;
}

.new-meal-form{
  width: 300px;
  margin-top: 30px;
  padding-bottom: 2px;
}


.new-meal-wrapper{
  background-size: cover;
}
#new-meal-photo{
  background-size: cover;
}

#back-link-new{
  color: black;
  text-shadow: 1px 1px 1px #898080;
}


#back-link-new:hover{
  text-decoration: underline;
}

#submit-button-new{
  margin-left: 94px;
  box-shadow: 1px 1px 1px #898080;
}

.form-inputs label {
  font-weight: normal;
}
